.add-property {
  display: block;
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#title,
#city,
#bathrooms,
#bedrooms,
#type,
#price,
#email,
button {
  display: block;
  text-align: center;
  padding: 7px;
  margin: 5px;
  width: 250px;
  font-size: large;
}
