.navbar {
  background-color: white;
  padding: 10px;
  border: 3px solid;
  text-align: center;
  list-style-type: none;
}

.navbar-logo {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.navbar-title {
  display: inline-block;
  padding-left: 40px;
  font-size: 30px;
}

.navbar-links-item {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
}

.navbar-links-item:hover {
  font-weight: bolder;
  color: #fc997c;
  text-decoration: none;
}

.navbar-links-item:visited {
  color: #fc997c;
  text-decoration: none;
}
