@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Elsie+Swash+Caps:wght@400;900&family=Reenie+Beanie&display=swap");

h1,
h2,
h3 {
  font-family: "Elsie Swash Caps", cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  font-family: "Cabin Sketch", cursive;
  font-family: "Elsie Swash Caps", cursive;
  font-family: "Reenie Beanie", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
